* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    background-color: black;
    height: 100vh;
}

.container {
    background-color: rgb(72, 62, 82);
    color: aliceblue;
    width: 20vw;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
}

h1, button {
    font-size: 2rem;
    margin: 2rem;
}

.counter {
    text-align: center;
}

.count {
    font-size: 4rem;
}

.negative {
    display: none;
}

.plus, .minus {
    font-size: 3rem;
    border: none;
    border-radius: 50%;
    width: 60px;
    color: aliceblue;
}

.plus {
    background-color: rgb(2, 99, 2);
}

.minus {
    background-color: rgb(156, 2, 2);
}

.reset {
    background-color: rgb(3, 3, 112);
    color: aliceblue;
    padding: 10px;
    border: none;
    border-radius: 10px;
}