* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(229, 229, 229);
}

/* Container Flex Style */
#container {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card Style */
.card {
    width: 20%;
    margin: 0 auto;
    border-radius: 3rem;
    box-shadow: -2px 2px 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: white;
}

.card-top {
    background-color: #4070F4;
    width: 100%;
    border-radius: 3rem;
    text-align: center;
    padding: 20px;
}

/* Image Style*/
.card img {
    width: 140px;
    height: 120px;
    border-radius: 80%;
    outline: 0.2rem double white;
}

.card-bottom {
    padding: 1.2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card-bottom h1 {
    font-size: 1.5rem;
    font-weight: normal;
}

.card-bottom h2 {
    font-size: 1.1rem;
}

.card-bottom p {
    text-align: center;
    font-weight: 500;
    color: rgb(94, 131, 144);
}

.button {
    padding: 1rem 1.5rem;
    background-color: #4070F4;
    border-radius: 1.2rem;
    border: none;
    color: seashell;
}

.button:hover {
    cursor: pointer;
    background-color: purple;
}