* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    height: 100vh;
}

h1 {
    font-size: 4rem;
    padding: 3rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.grid-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.image-1 {
    grid-column-start: 1;
    grid-row: 1 / span 2;
}

.image-2 {
    grid-column-start: 2;
    grid-row: 1 / span 2;
}

.image-3 {
    grid-column-start: 3;
    grid-row: 1;
}

.image-4 {
    grid-column-start: 3;
    grid-row: 2;
}

.image-5 {
    grid-column-start: 2;
    grid-row: 3 / span 2
}

.image-6 {
    grid-column-start: 1;
    grid-row: 3;
}

.image-7 {
    grid-column-start: 3;
    grid-row: 3 / span 2;
}

@media only screen and (max-width: 768px){
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 480px){
    .grid-container {
        grid-template-columns: 1fr;
    }
}