* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    height: 100vh;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card Box */
.card {
    width: 30rem;
    height: auto;
    background-color: white;
    box-shadow: 1px 1px 25px rgb(183, 183, 183);
}

.card img {
    width: 100%;
}

.card h2 {
    position: absolute;
    background-color: white;
    top: 15%;
    padding: 1rem;
}

.card-bottom {
    padding: 1rem 2rem;
}

.card-bottom h1 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.card-bottom hr {
    line-height: 1.2;
}

/* Card Information */
.info {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.info img {
    width: 40px;
}

/* Basic Information */
.info-item {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.info-item span {
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(221, 68, 221);
    padding: 3px 6px;
}

.info-item h4 {
    font-weight: 300;
    font-size: 1.4rem;
    padding: 6px;
}

/* Descritpion */
p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.3;
    word-spacing: 1px;
    text-align: justify;
    padding: .2rem 2rem 2rem 0;
}

/* Button */
.button {
    background-color: rgb(221, 68, 221);
    border: none;
    border-radius: 0.8rem;
    width: 70%;
    padding: 1rem 5rem;
    margin: auto;
    display: block;
    color: seashell;
    font-size: 1.2rem;
    font-weight: 500;
}

.button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgb(221, 68, 221);
    transform: translateY(-0.25em);
    cursor: pointer;
}
